.containerChat {
  padding: 0;
  position: fixed;
  display: flex;
  height: calc(100% - 5rem); 
}

.sidebar-Chat {
  position: fixed;
  overflow: auto;
  background-color: #F3F2F7;
  width: 400px;
  top: 83px;
  height: calc(100vh - 83px); /* Ajuste a altura conforme necessário */
}

.chat-principal {
  position: fixed;
  width: calc(100vw - 400px);
  margin-left: 400px;
}

.sidebar-Chat::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.sidebar-Chat::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.sidebar-Chat::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}