.containerChat {
  padding: 0;
  margin-top: 80px;
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar-Chat {
  position: fixed;
  overflow: auto;
  background-color: #F3F2F7;
  width: 350px;
  position: fixed;
  top: 83px;
  height: 90vh;
}

.chat-principal {
  margin-left: 350px;
  width: auto;
}

.sidebar-Chat::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.sidebar-Chat::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.sidebar-Chat::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}