.sidebarItemChat {
  height: 50px;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

.index {
  transition: 0.5s;
  margin-left: 1rem;
  width: 310px;
}



.index:hover {
  box-shadow: 0px 5px 10px rgba(162, 161, 161, 0.5);
  background-color: #F3F2F7;
  border-radius: 8px;
}

.iconeSala {
  margin-left: 1rem;
  margin-right: 1rem;
}

.notificacao {
  font-size: 12px;
  font-weight: bold;
  background-color: #ED4956;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.2rem;

}

.arquivados {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.arquivados span {
  margin-left: 50px;
}

#imagemPerfilChatS {
  margin: 0.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}


.sidebarDate {
  height: 50px;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  margin-left: -1.9rem;
  width: 96%;
}

.densityMediumIcon:hover {
  cursor: pointer;
}

.deleteForeverIcon:hover {
  cursor: pointer;
}

.deleteForeverIcon {
  transition: 0.5s;
  display: flex;
  width: 90px;
  border-radius: 5px;
  margin-left: 200px;
  margin-top: -25px;
  height: 40px;
  padding: 2px;
  align-items: center;
  justify-content: start;
}

.sidebarArquivados {
  position:relative;
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 1rem;
  }
}

.deleteForeverIcon:hover{
  background-color: #d9def8;
}

.headerSidebar {
  margin-top: 5px;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  width: 310px;
  margin-left: 10px;
}

.headerSidebar div {
  flex: 1;
}

.headerSidebar div:hover {
  cursor: pointer;
}